proc MTCL_OPT {} {
    set optList [dict create \
        VENDOR     "xilinx"\
        FAMILY     "7series"\
    ]
    return $optList
}

proc MTCL_SRC {options} {

    set srcList [dict create \
        test.vhd      "work"\
        test_tb.vhd   "work VHDL_2008"\
    ]
        # test2.config  "work"\

    return $srcList
}

proc MTCL_TB {options} {
    set tbList [dict create \
        test_tb       "work"\
    ]

    return $tbList
}

proc MTCL_VLIB {options} {
    set vendList [dict create \
        unisim.vhd      "unisim"\
    ]
    return $vendList
}