proc MTCL_OPT {} {
    set optList [dict create \
        VENDOR     "xilinx"\
        FAMILY     "7series"\
    ]
    return $optList
}

proc MTCL_SRC {options} {

    set srcList [dict create \
        test1.vhd     "work"\
        test2.config  "work"\
    ]

    return $srcList
}

proc MTCL_TB {options} {

}

proc MTCL_VLIB {options} {
    set vendList [dict create \
        unisim.vhd      "unisim"\
    ]
    return $vendList
}