proc MTCL_OPT {} {
    set optList [dict create \
        VENDOR     "xilinx"\
        FAMILY     "7series"\
    ]
    return $optList
}

proc MTCL_SRC {options} {
    set srcList [dict create \
        test2.vhd     "work"\
        test.config   "work"\
    ]
    return $srcList
}

proc MTCL_TB {options} {
	set tbList [dict create \
        test2_tb     "work"\
    ]
    return $tbList
}

proc MTCL_VLIB {options} {
    set vendList [dict create \
        xpm.vhd      "xpm"\
    ]
    return $vendList
}
